.container{
  margin: 30px auto;
  position: relative;
  background-color: var(--color-box-background);
  width: 960px;

   &::after{
    content: "";
    background-color: white;
    position: absolute;
    height: 100%;
    display: inline-block;
    left: -100vw;
    width: 100vw;
  } 

}

.navBar {
  display: none;
  position: relative;

  &[data-mobile-open='true'] {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: 800px) {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 120px;

    &[data-mobile-open='true'] {
      flex-direction: row;
    }
  }
}

.logo{
  padding: 40px 40px 40px 200px;
  height: 150px;
  width: auto;
  background-color: white;
  clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
 

}

.hamburguesa {
  background-color: transparent;
  border: 0;
  font-size: 32px;
  padding: 16px;
  cursor: pointer;

  @media (min-width: 800px) {
    display: none;
  }
}