.container {
  margin-top: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

.fumigador{
   height: 200px;
   width: auto;
   margin-left: 50px;
}
.text{
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.title{
  color: white;
  font-family: var(--font-title);
  font-size: 90px;
  line-height: 1.1;

}
.subtitle{
  color: white;
  font-size: 20px;
  margin-top: 10px;
}